{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admindash.css' %}" />
</head>

<body>
    <div class="main">
        <div class="mainnav">
            <h1>TESLAS ADMIN's DASH</h1>
        </div>
        <div class="dash">
            <div class="dashmenu">
                <h4><a href="{% url 'admindash' %}">Teachers</a></h4>
                <h4><a href="{% url  'admindashstudents' %}">Students</a></h4>
                <h1><a href="{% url 'addstaff' %}">Add Teachers</a></h1>
                <h4><a href="{% url 'add_department' %}">Add Department</a></h4>
                <span><a href="{% url 'logoutuser' %}" style="background-color: red; border-radius: 5px; border:1px red solid; text-decoration: none; color: white;">Logout</a></span>
            </div>
            <div class="dashmenu1">
                <span><a href="{% url 'admindash' %}">Teacher</a></span>
                <span><a href="{% url  'admindashstudents' %}">Students</a></span>
                <span  class="major"><a href="">Add Teachers</a></span>
                <span><a href="{% url 'add_department' %}">Add Department</a></span>
                <span><a href="{% url 'logoutuser' %}" style="background-color: red; border-radius: 5px; border:1px red solid; text-decoration: none; color: white;">Logout</a></span>
            </div>
            <div class="dashwork">
                <form action="{% url 'addstaff' %}" method="post" style="background-color: rgb(24, 119, 242); width:300px; padding:30px;margin-left:800px; padding-left:30px; ">
                    {% csrf_token %}
                    <input type="text" name="firstname" placeholder="firstname" height="30px" style="border: none;">
                    <br>
                    <br>
                    <input type="text" name="lastname" placeholder="lastname" style="border: none;">
                    <br>
                    <br>
                    <input type="text" name="username" placeholder="username" style="border: none;">
                    <br><br>
                    <input type="text" name="age" placeholder="age" style="border: none;">
                    <br><br>
                    <select name="department">
                        {% for i in department %}
                        <option value="{{ i.department }}">{{ i.department }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <input type="email" name="email" placeholder="email" style="border: none;">
                    <br>
                    <br>
                    <input type="submit" value="submit" style=" height: 30px;
    width: 100px;
    background-color: rgb(9, 72, 155);
    margin-left: 30%; margin-left:0px; border:none; color:white;">
                </form>

            </div>

        </div>
    </div>
</body>

</html>