{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admindash.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>

  <body>
    <div class="main">
      <div class="mainnav">
        <h1>TESLAS STAFF's DASH</h1>
      </div>
      <div class="dash">
        <div class="dashmenu">
          <h1><a href="">Students</a></h1>
          <h4><a href="{% url 'addstudents' %}">Add Students</a></h4>
          <h4><a href="">Add Exam</a></h4>
          <h4><a href="">Add Projects</a></h4>
          <h4><a href="">Add Semester</a></h4>
          <h4>
            <a
              href="{% url 'logoutuser' %}"
              style="
                background-color: red;
                border-radius: 5px;
                border: 1px red solid;
                text-decoration: none;
                color: white;
                margin-left: 50px;
              "
              >Logout</a
            >
          </h4>
        </div>
        <div class="dashmenu1">
          <span class="major"><a href="">Students</a></span>
          <span style="margin-left: 10px"><a href="">Add Students</a></span>
          <span style="margin-left: 10px"><a href="">Add Exam</a></span>
          <span style="margin-left: 10px"><a href="">Add Projects</a></span>
          <span style="margin-left: 10px"><a href="">Add Semester</a></span>
          <span
            ><a
              href="{% url 'logoutuser' %}"
              style="
                background-color: red;
                border-radius: 5px;
                border: 1px red solid;
                text-decoration: none;
                color: white;
                margin-left: 50px;
              "
              >Logout</a
            ></span
          >
        </div>
        <div class="dashwork">
          <table cellpadding="60" style="margin-top: -400px" border="2" style="border: 5px solid black">
            <tr style="border-bottom: 5px solid black">
              <th>FIRST NAME</th>
              <th>LAST NAME</th>
              <th>AGE</th>
              <th>DEPARTMENT</th>
            </tr>
            {% for i in profiles %}
            <tr>
              <td>{{i.first_name}}</td>
              <td>{{i.last_name}}</td>
              <td>{{i.age}}</td>
              <td>{{i.department.department}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
