.mainnav{
    background-color: rgb(24, 119, 242);
    position: fixed;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 5px;
    margin: 0px;
}
.dashmenu{
    background-color: rgb(24, 119, 242);
    color: white;
    width: 250px;
    height: 80vh;
    position: fixed;
    margin-top: 160px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
}
.dash{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dashmenu a{
    text-decoration: none;
    color: white;
}
.dashmenu h1{
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 5px;
}
.card{
    height: 200px;
    width: 350px;
    background-color:whitesmoke;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    margin-left: -500px;
}
.dashwork{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 700px;
    height: 100vh;
    flex-wrap: wrap;
    margin-left:400px ;
}
.dashmenu1{
    background-color: rgb(24, 119, 242);
    color: white;
    width: 80px;
    height: 80vh;
    position: fixed;
    margin-top: 160px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    display: none;
}
.don{
    display: none;
}
.profname{
    padding-left: 10%;
}
@media only screen and (min-width: 1400px){

}
@media only screen and (max-width: 1399.8px) and (min-width:1200px){

}
@media only screen and (max-width: 1199.8px) and (min-width:992px){

}
@media only screen and (max-width: 991.8px) and (min-width:768px) {

}
@media only screen and (max-width: 767.8px) and (min-width: 576px){

}

@media only screen and (max-width: 575.8px){
    .dashmenu{
        background-color: rgb(24, 119, 242);
        color: white;
        width: 50px;
        height: 80vh;
        position: fixed;
        margin-top: 160px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: center;
        display: none;
    }
    .dashmenu1{
        background-color: rgb(24, 119, 242);
        color: white;
        width: 80px;
        height: 80vh;
        position: fixed;
        margin-top: 160px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: center;
        
    }
    .dashmenu1 a{
        text-decoration: none;
        color: white;
    }
    .major{
        background-color: cornflowerblue;
        border-radius: 5px;
        padding: 5px;
    }
    .dashmenu1 span{
        margin-top: 20px;
    }
    .dashmenu1 a{
        text-decoration: none;
        color: white;
    }
}